<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zerock.persistence.BoardDAO">
  	<insert id="create" parameterType="BoardVO"><!-- 파라미터 타입이 젤 중요 / insert시  Map보다는 객체던지는게 낫다. -->
  	insert into tbl_board(title, content) values (#{title},#{content})	
  	</insert>
  	
  	<select id="list" parameterType="PageVO" resultType="BoardVO">
  		<![CDATA[
		select * from tbl_board where  bno > 0 order by bno desc limit #{skip}, #{amount}
		]]>
	</select>
  	
  </mapper>