<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zerock.persistence.BoardDAO">
  	<insert id="create" parameterType="org.zerock.domain.BoardVO"><!-- 파라미터 타입이 젤 중요 -->
  	insert into tbl_board(title, content) values (#{title},#{content})	
  	</insert>
  </mapper>